test.mp4
test2.mp4
test3.mov
test4.mov
test5.mov
test6.mov
test7.mov
test8.mov
test9.mov
test10.mov
test11.mov
test12.mov

dataset/
dataset2/
dataset3/
weights/
yolov9/runs/

ANPR2.v8i.yolov9.zip
license.v1i.yolov9.zip
lpDetection.v3i.yolov9.zip

idea.txt

