--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple

# Other packages
absl-py==2.1.0
albucore==0.0.21
albumentations==1.4.23
annotated-types==0.7.0
anyio==4.7.0
astor==0.8.1
asttokens==3.0.0
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.0
colorama==0.4.6
common==0.1.2
contourpy==1.3.0
cycler==0.12.1
Cython==3.0.11
decorator==5.1.1
eval_type_backport==0.2.0
exceptiongroup==1.2.2
executing==2.1.0
filelock==3.16.1
filetype==1.2.0
fire==0.7.0
fonttools==4.55.3
fsspec==2024.12.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.68.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.7
imageio==2.36.1
imgaug==0.4.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipython==8.18.1
jedi==0.19.2
Jinja2==3.1.4
kiwisolver==1.4.7
lazy_loader==0.4
lmdb==1.5.1
lxml==5.3.0
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
packaging==24.2
paddleocr==2.9.0
paddlepaddle==2.6.2
pandas==2.2.3
parso==0.8.4
pillow==11.0.0
prompt_toolkit==3.0.48
protobuf==3.20.2
psutil==6.1.1
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyclipper==1.3.0.post6
pycocotools==2.0.8
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.11.0
requests==2.32.3
requests-toolbelt==1.0.0
roboflow==1.1.50
scikit-image==0.24.0
scipy==1.13.1
seaborn==0.13.2
shapely==2.0.6
simsimd==6.2.1
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
stringzilla==3.11.2
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
thop==0.1.1.post2209072238
tifffile==2024.8.30
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.52
ultralytics-thop==2.0.13
urllib3==2.2.3
wcwidth==0.2.13

# Install PyTorch with CUDA support
torch
torchvision
torchaudio
Werkzeug==3.1.3
zipp==3.21.0
